[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "==2.5.1"
python-dotenv = "==1.0.0"
pytmx = "==3.32"
numpy = "==1.25.2"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
